# Core functionality - changes here should be rare!
/src/app.py                   @Gokul-MK
/src/backend/database.py      @Gokul-MK
/src/backend/routers/auth.py  @Gokul-MK

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Gokul-MK
